bcrypt==3.1.7
brotli==1.0.7
cffi==1.13.2
dj-database-url==0.5.0
django==2.2.8
django-appconf==1.0.3
django-axes==5.0.20
django-csp==3.5
django-feature-policy==3.1.0
django-health-check==3.11.1
django-http-referrer-policy==1.0.1
django-ipware==2.1.0
django-split-settings==1.0.0
djangorestframework==3.10.3
dump-env==1.1.1
psycopg2-binary==2.8.4
pycparser==2.19
python-decouple==3.3
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
typing-extensions==3.7.4.1
waitress==1.3.1
whitenoise==5.0
