-r requirements.txt

django-debug-toolbar
django-querycount
nplusone
flake8-pytest
flake8-pytest-style
flake8-django
pytest
pytest-django
pytest-cov
pytest-randomly
pytest-deadfixtures
pytest-testmon
pytest-timeout
django-test-migrations
hypothesis
mypy
django-stubs
ipython
sphinx
sphinx-autodoc-typehints
doc8
yamllint
safety
dotenv-linter
django-migration-linter
django-extensions
flake8-isort
black
pylint
autopep8
bandit
mixer
Werkzeug
requests-mock
