{% load static %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>django-template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">


  </head>

  <body>
      <!--[if lte IE 9]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->

      <!--
      It worked? Well done!

      Do you want to work with projects like this on a daily basis?
      If you do, just know that we are hiring:
      http://wemake.services/meta/job-application
      -->

      <h1>django-template</h1>
  </body>
</html>
