{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>django-template</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'main/css/index.css' %}" />
  </head>

  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!--
      It worked? Well done!

      Do you want to work with projects like this on a daily basis?
      If you do, just know that we are hiring:
      http://wemake.services/meta/job-application
      -->

    <h1>django-template</h1>
      <h2>request.user</h2>
      <dl style="font-family: 'Courier New', Courier, monospace;">
        <dt>request.user.is_authenticated</dt>
        <dd>{{ request.user.is_authenticated }}</dd>

        <dt>request.user.id</dt>
        <dd>{{ request.user.id }}</dd>

        <dt>request.user.email</dt>
        <dd>{{ request.user.email }}</dd>

        <dt>request.user.first_name</dt>
        <dd>{{ request.user.first_name }}</dd>

        <dt>request.user.last_name</dt>
        <dd>{{ request.user.last_name }}</dd>

        <dt>request.user.is_staff</dt>
        <dd>{{ request.user.is_staff }}</dd>

        <dt>request.user.is_superuser</dt>
        <dd>{{ request.user.is_superuser }}</dd>

        <dt>request.user.is_active</dt>
        <dd>{{ request.user.is_active }}</dd>
      </dlstyle="font-family: 'Courier New', Courier, monospace;">
  </body>
</html>
