---
version: 2

environment: &environment
  DJANGO_ENV: test
  DJANGO_SECRET_KEY: 4c1nzrs&8^g+t$tt**wl7u8)0p8ql3vr28rjn1mdcnr*crjz*#
  DATABASE_URL: postgres://postgres@127.0.0.1:5432/legal-basis
  AUTHBROKER_URL: https://sso.trade.gov.uk/
  AUTHBROKER_CLIENT_ID: client_id
  AUTHBROKER_CLIENT_SECRET: client_secret
  DOMAIN_NAME: trade.gov.uk
  TLS_EMAIL: webmaster@trade.gov.uk
  POSTGRES_USER: postgres
  POSTGRES_DB: legal-basis
  ACTIVITY_STREAM_URL: https://localhost/v3/
  ACTIVITY_STREAM_ID: fake_id
  ACTIVITY_STREAM_KEY: fake_key
  REDIS_URL: redis://localhost/
  ELASTIC_APM_DISABLE_SEND: true

workflows:
  version: 2

  build-and-test:
    jobs:
      - build-and-test

jobs:
  build-and-test:
    docker:
      # python:3.7.6
      - image: circleci/python@sha256:c10b2426add407d1acc7a3491c95b83ec1308920146e7e8061468959a521d98c
        environment:
          <<: *environment

      # postgres:11.6
      - image: circleci/postgres@sha256:be29ab5e437ef926a222081eb15f8fca602a89b4c7987b909a5b6a10f282026e
        environment:
          <<: *environment

      # redis:5.0.7-alpine
      - image: circleci/redis@sha256:8aaec4ec9b084dce3d2e49607035825f2bc7abd9ea0e69718d410f74448b1012
        environment:
          <<: *environment
    steps:
      - checkout

      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "requirements-dev.txt" }}

      - run:
          name: Install dependencies
          command: |
              python3 -m venv venv
              . venv/bin/activate
              pip install -r requirements-dev.txt

      - save_cache:
          paths:
            - "venv"
          key: v2-dependencies-{{ checksum "requirements-dev.txt" }}

      - run:
          name: Run flake8
          command: |
            . venv/bin/activate
            make check-flake8

      - run:
          name: Check types
          command: |
            . venv/bin/activate
            make lint-types

      - run:
          name: Run pytest
          command: |
            . venv/bin/activate
            ./manage.py collectstatic --no-input
            pytest --dead-fixtures --dup-fixtures \
              --junitxml=.test-results/pytest-fixtures/results.xml &&
            pytest --junitxml=.test-results/pytest/results.xml \
              --cov-report=html:coverage

      - run:
          name: Check django settings
          command: |
            . venv/bin/activate
            ./manage.py check --deploy --fail-level WARNING
          environment:
            DJANGO_ENV: production

      - run:
          name: Check migrations are backwards-compatible
          command: |
            . venv/bin/activate
            ./manage.py lintmigrations --exclude-apps axes sites

      - run:
          name: Run Bandit security linter
          command: |
            . venv/bin/activate
            bandit -r server

      - run:
          name: Check dependency compatibility
          command: |
            . venv/bin/activate
            pip check

      - run:
          name: Check docs
          command: |
            . venv/bin/activate
            doc8 -q --ignore-path venv docs

      - run:
          name: Lint YAML
          command: |
            . venv/bin/activate
            yamllint -s .

      - store_test_results:
          path: .test-results

      - store_artifacts:
          path: coverage
